.addExpense-wrapper {
  padding: 10px;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-size: 37px !important;
}

.expense-form input {
  border: 1px solid grey;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: right;
}

.expense-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#location {
  width: 49%;
}

.required-field {
  font-size: 15px;
  padding-left: 0px;
}

.add-expense-button-wrapper {
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-expense-button {
  border: 1px solid;
  width: 4em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19a008;
  color: white;
  font-weight: bold;
}

.popup-title {
  font-size: 35px !important;
}

#category-title {
  left: 0px !important;
}

#expense-paragraph {
  color: black;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
  padding-left: 15px;
  padding-right: 15px;
}

#transaction-title {
  right: 0px !important;
  left: 0px !important;
}

.expense-button-wrapper, .credit-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#expense-button, #credit-button {
  font-family: "Indie Flower", cursive;
  font-size: 23px;
  width: 80%;
}

/* Choose Category Modal */
.choose-category-wrapper {
  padding: 5px;
  font-family: "Indie Flower", cursive;
  font-size: 23px;
  background: whitesmoke;
}

#choose-category-repeat {
  padding-top: 12px;
}

#new-category-button-wrapper {
  /*width: 100vw;
  display: flex;
  justify-content: center;*/
  margin-top: .5em;
}

#category {
  border: 1px solid black;
  padding: 5px;
  background: transparent;
  margin-top: 1em;
}

#new-category-button {
  border: 1px solid black;
  padding: 6px;
  width: 7em;
  text-align: center;
  font-size: 18px;
  background-color: tomato;
}
