.login-wrapper {
  height: 100vh;
  width: 100vw;
  /*background: #209800;*/
  background-color:rgb(124, 174, 132);

  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  width: 98vw;
  height: 99vh;
  border: 1px solid black;
}

.logo-wrapper {
  display: flex;
  /*justify-content: center;*/
}

#logo {
  /*background: #209800;*/
  background-color:rgb(124, 174, 132);

  color: #D4C31C;
  font-size: 10em;
  /*padding: 90px;*/
  /*padding-left: 0px;*/
  padding-top: 80px;

  /*transform: rotate(45deg);*/
  position: relative;
}

.title-wrapper {
  position: absolute;
  text-align: center;
  margin-top: 15em;
}

h3 {
  /*margin-top: 10em;*/
  color: black;
  font-size: 81px;
  font-family: 'Amatic SC', cursive;
}

p {
  color: white;
  font-size: 23px;
  font-family: 'Indie Flower', cursive;
  padding-left: 15px;
  padding-right: 15px;
}

.button-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  /*margin-top: 14em;*/
}

#login-button {
  /*background: #D4C31C;*/
  background: white;
  color: #000;
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Amatic SC', cursive;*/
  font-weight: bold;
}
