<ion-view view-title="Home">

  <ion-content>

    <section class="header-wrapper">
      <div> <md-button class="button button-icon ion-navicon" ng-click="toggleLeft()"></md-button> </div>
      <h1> Title </h1>
    </section>

    <nav-view></nav-view>

    <div layout="column" style="height: 500px;" ng-cloak>

  <section layout="row" flex>

    <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
      </md-toolbar>

      <md-content layout-margin>
          <ul>
            <li ui-sref="home">Home</li>
            <li ui-sref="settings">Settings</li>
            <li ui-sref="welcome">Welcome</li>
            <li ui-sref="other">Other</li>
          </ul>
        <md-button ng-click="toggleLeft()" class="md-accent">
          Close this Sidenav
        </md-button>
      </md-content>

    </md-sidenav>


  </section>

</div>

  </ion-content>

</ion-view>
