<ion-view title="Home" ng-controller='budgetDetailsCtrl'>

<ion-header-bar align-title="left" class="bar-balanced">
  <div class="buttons">
    <button class="button ion-chevron-left" ui-sref="app.home" ng-click='setPieChart()'></button>
  </div>
  <h1 class="title">{{budget}} details</h1>
</ion-header-bar>

<ion-content class="details-wrapper" ng-init='getSpecificExpenditure(budget)'>

<div class='specificBar'></div>

<section ng-repeat='expenditure in specificExpenditures | orderBy : "date"'>
  <section class="expenditure-detail-wrapper">
    <section class="expenditure-category">
      <div> {{expenditure.date | date: 'longDate'}} </div>
      <div> *Amount
    </section>
    <section class="expenditure-amount">
      <div> {{expenditure.location}} </div>
      <div ng-model='amount'> ${{expenditure.amount}} </div>
    </section>
    <section class="details-del-edit">
      <div ng-click='showEditor(expenditure)'>edit</div>
      <div ng-click='confirmDeletion(expenditure)' style="color: red">delete</div>
    </section>
</section>
  <hr>
</section>
</ion-content>


</ion-view>
