.details-wrapper {
  padding: 7px;
}

.expenditure-category {
  display: flex;
  justify-content: space-between;
  background: #ccc;
  padding: 5px;
}

.expenditure-amount {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.details-del-edit {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-style: italic;
}
