<ion-view>

<ion-content class="blurb-container3">
  <div ng-controller='welcomeCtrl'>
  <div class="welcome3-wrapper"><h1 class="blurb3-title">Lets Get Started!</h1></div>
    <!-- <p class="p-information"> *This is to get you started. You will be able to add additional categories in your settings </p> -->
      <!-- <form name='budgetInput' class="budgetInput-container">
        <section class="gas-input">
          Gas

          <section class="setBudget-wrapper">
            <div id="dollar-sign"> $ </div>
            <div>
              <input id='gasBudget'type="text" ng-model='gasBudget' placeholder="Gas"/>
            </div>
          </section>

        </section>
        <section class="rent-input">
          Rent

          <section class="setBudget-wrapper">
            <div id="dollar-sign"> $ </div>
            <div>
              <input id='rentBudget'type="text" ng-model='rentBudget' placeholder="Rent"/>
            </div>
          </section>

        </section>
      </form> -->
<div class="setBudget-button-wrapper2">
  <button class="button button-stable" id="setBudget-button" ui-sref='app.home'> Begin </button>
</div>

</div>
</ion-content>

</ion-view>
