<ion-view >

  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">

      <ion-slide-page>
        <div ng-controller='welcomeCtrl'>
        <div class="box blue"><h1>BLUE</h1></div>
        <form name='budgetInput' >
          Starting Money
          <input id='startingMoney' type="text"  ng-model='startingMoney'/>
          Monthly Pay Check
          <input id='monthlyPayCheck' type="text"  ng-model='monthlyPayCheck'/>
          Gas
          <input id='gasBudget'type="text" ng-model='gasBudget'/>
          Rent
          <input id='rentBudget'type="text" ng-model='rentBudget'/>
        </form>

        <button class="button button-clear button-positive" ui-sref='app.home' ng-click='setPieChart([startingMoney,monthlyPayCheck,gasBudget,rentBudget])' > Skip </button>
      </div>
      </ion-slide-page>

      <ion-slide-page>
        <div ng-controller='welcomeCtrl'>
          <div class="box yellow"><h1>YELLOW</h1></div>
          <button class="button button-clear button-positive" ui-sref="app.home" ng-click='setPieChart()' > Skip </button>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div ng-controller='welcomeCtrl'>
          <div class="box yellow"><h1>Pink</h1></div>
          <button class="button button-clear button-positive" ui-sref="app.home" ng-click='setPieChart()' > Skip </button>
        </div>

      </ion-slide-page>

    </ion-slides>
  </ion-content>


</ion-view>
