.bar .title.title-left {
  text-align: center;
}

.settings-header-wrapper {
  height: 10vh;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#picture {
  float: right;
}

.settings-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chevron {
  float: right;
}

/* Edit Categories Modal */
#edit-categories {
  right: 0px !important;
}

.edit-categories-wrapper {
  padding: 7px;
}

.edit-categories-section div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
}

.edit-categories-section input {
  text-align: right;
  width: 6em;
  font-size: 18px;
}

#delete-button {
  color: red;
  font-size: 1.3em;
}

#edit-button {
  font-size: 1.3em;
}

/* Confirm Edit Popup */
.confirm-edit-popup input {
  text-align: center;
}

.confirm-edit-popup input-placeholder {
  color: black;
}
