.bar .title.title-left {
  text-align: center;
}

.settings-header-wrapper {
  height: 10vh;
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#picture {
  float: right;
}

.settings-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#chevron {
  float: right;
}
