.ion-ios-close-empty {
  text-align: right;
  display: block;
  width: 100%;
}

.custom {
  /*background-color: whitesmoke;*/
  /*background-image: url("../img/budjetShdw.png");*/
  background-position: -55px 242px;
  background-size: 116%;
  background-repeat: no-repeat;
}

.menu-list {
  font-size: 20px;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
}

.menu-home {
  padding-top: 9px;
}
