<ion-view title="Goals" ng-controller="goalsCtrl">

  <!-- <ion-content>
    <h1> Camera </h1>
    This button
    <br>
    goes here
    <br>
    for now:
    <br>

<a class="button" href="/ocr">Go to camApp!</a>

  </ion-content> -->

  <ion-content class="has-header padding" >
    <h1> Camera </h1>
    <br>
    <button class="button button-full button-energized" ng-click="addMedia()">
      Add image
    </button>
    <!-- <button class="button button-full button-positive" ng-click="sendEmail()">
      Send mail
    </button> -->
    <br><br>
    <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">
      <img ng-repeat="image in images" ng-src="{{urlForImage(image)}}" style="height:200px; padding: 5px 5px 5px 5px;"/>
    </ion-scroll>

    This button
    <br>
    goes here
    <br>
    for now:
    <br>

<a class="button button-full button-balanced" href="/ocr">Go to camApp!</a>
  </ion-content>

</ion-view>
