/* First Slide -- Welcome Blurb */
.welcome-title {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
  line-height: 53px;
  margin-bottom: 20px;
  padding-top: 26px;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.blurb-container {
  background: #19a008;
  padding: 1em;
}

.blurb {
  /*border: 2px solid #D4C31C;*/
  padding: 13px;
  text-align: center;
  line-height: 27px;
}


/* Second Slide -- Collect starting amount of money */
.starting-money-wrapper {
  width: 91vw;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2.5em;
}

.blurb-container2 {
  background: #19af07;
  padding: 1em;
}

.welcome2-wrapper {
  margin-top: 6em;
}

.welcome-title2 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
  line-height: 53px;
  margin-bottom: 20px;
}

#startingMoney {
  text-align: center;
}

.starting-blurb {
  /*border: 2px solid #D4C31C;*/
  padding: 13px;
  text-align: center;
  line-height: 27px;
}

.setBudget-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 6em;
}

/* Third Slide -- Collect Budget Information */
.blurb-container3 {
  background: #19af07;
  padding: 1em;
}

.blurb3-title {
  font-family: 'Amatic SC', cursive;
  font-size: 64px;
}

.p-information {
  font-size: 19px;
  font-family: 'Indie Flower', curvise;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  margin-bottom: 27px;
}

.welcome3-wrapper {
  margin-top: 4em;
  text-align: center;
}

.setBudget-button-wrapper2 {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}

.budgetInput-container {
  text-align: center;
}

input {

}

#gasBudget, #rentBudget {
  margin-left: 5.5em;
  margin-bottom: 10px;
  text-align: center;
}
