/* Empty. Add your own CSS if you like */
#imgContainer {
  display: flex;
  justify-content: space-around;

}

.imgBorder {
  border:1px solid #000000
  /*padding:1px;border:thin solid black;*/
  /*border-width: 11px;
  border-color: Black;*/
}
